<div>
    <h2>Contact</h2>
    <div>
        <i>
            I am part of The Game Assembly's internship program.
            As per the agreement between the Game Industry and The Game Assembly, neither student 
            nor company may be in contact with one another regarding internships before April 23rd. 
            <br>
            Any internship offers can be made on May 6th, at the earliest.
        </i>
    </div>
    <div class="common-grid">
        <!-- <a href="/assets/CV.pdf">
        </a> -->
        <a href="/assets/CV.pdf" aria-label="CV">
            <div class="grid-item">
                <svg><use xlink:href="/assets/svg/svg-map.svg#cv"/></svg>
                <p>CV (PDF download)</p>
            </div>
        </a>
        <a href="{{'tel:' + phoneNumber}}"  aria-label="Phone Number">
            <div class="grid-item">
                <svg><use xlink:href="/assets/svg/svg-map.svg#phone"/></svg>
                <p>{{phoneNumber}}</p>
            </div>
        </a>
        <a href="mailto:devia.windhede@gmail.com" aria-label="E-Mail" class="contact-parent">
            <div class="grid-item">
                <svg><use xlink:href="/assets/svg/svg-map.svg#gmail"/></svg>
                <p>{{'devia.windhede@gmail.com'}}</p>
            </div>
        </a>
        <a href="https://www.linkedin.com/in/devia-windhede/" aria-label="LinkedIn" class="contact-parent">
            <div class="grid-item">
                <svg><use xlink:href="/assets/svg/svg-map.svg#linkedin"/></svg>
                <p>LinkedIn</p>
            </div>
        </a>
        <a href="https://github.com/DeviaWindhede/" aria-label="GitHub" class="contact-parent">
            <div class="grid-item">
                <svg><use xlink:href="/assets/svg/svg-map.svg#git"/></svg>
                <p>Github</p>
            </div>
        </a>
    </div>
</div>