<div>
    <h2>Contact</h2>
    <div>
        <i>
            I am part of The Game Assembly's internship program.
            As per the agreement between the Game Industry and The Game Assembly, neither student 
            nor company may be in contact with one another regarding internships before April 23rd. 
            <br>
            Any internship offers can be made on May 6th, at the earliest.
        </i>
    </div>
    <div>
        <!-- <a href="/assets/CV.pdf">
        </a> -->
        <div>
            <a href="/assets/CV.pdf" aria-label="LinkedIn" class="contact-parent">
                <svg class="contact-child contact-child--icon"><use xlink:href="/assets/svg/svg-map.svg#linkedin"/></svg>
                <p class="contact-child">CV (PDF download)</p>
            </a>
        </div>
        <div class="contact-parent">
            <svg class="contact-child contact-child--icon"><use xlink:href="/assets/svg/svg-map.svg#linkedin"/></svg>
            <a class="contact-child" (click)="copyToClipboard()"><p>{{phoneNumber}}</p></a>
        </div>
        <div>
            <a href="mailto:devia.windhede@gmail.com" aria-label="E-Mail" class="contact-parent">
                <svg class="contact-child contact-child--icon"><use xlink:href="/assets/svg/svg-map.svg#linkedin"/></svg>
                <p class="contact-child">{{'devia.windhede@gmail.com'}}</p>
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/devia-windhede/" aria-label="LinkedIn" class="contact-parent">
                <svg class="contact-child contact-child--icon"><use xlink:href="/assets/svg/svg-map.svg#linkedin"/></svg>
                <p class="contact-child">LinkedIn</p>
            </a>
        </div>
        <div>
            <a href="https://github.com/DeviaWindhede/" aria-label="GitHub" class="contact-parent">
                <svg class="contact-child contact-child--icon"><use xlink:href="/assets/svg/svg-map.svg#linkedin"/></svg>
                <p class="contact-child">Github</p>
            </a>
        </div>
    </div>
</div>