<div>
    <h2>Contact</h2>
    <div>
        <p>
            Feel free to contact me directly via mail, phone or direct message! 
            You can click on any of the icons to get redirected to your preferred contact method 
        </p>
    </div>

    <div class="outer">
        <div class="inner">
            <a href="{{'tel:' + phoneNumber}}"  aria-label="Phone Number">
                <div class="container">
                    <svg width="100%" height="100%"><use xlink:href="/assets/svg/svg-map.svg#phone"/></svg>
                    {{phoneNumber}}
                </div>
            </a>
        </div>
        <div class="inner">
            <a href="mailto:devia.windhede@gmail.com" aria-label="E-Mail">
                <div class="container">
                    <svg width="100%" height="100%"><use xlink:href="/assets/svg/svg-map.svg#gmail"/></svg>
                    {{'devia.windhede@gmail.com'}}
                </div>
            </a>
        </div>
        <div class="inner">
            <a href="https://www.linkedin.com/in/devia-windhede/" aria-label="LinkedIn">
                <div class="container">
                    <svg width="100%" height="100%"><use xlink:href="/assets/svg/svg-map.svg#linkedin"/></svg>
                    LinkedIn
                </div>
            </a>
        </div>
    </div>

    <div>
        <p>
            <i>
                I am part of The Game Assembly's internship program.
                As per the agreement between the Game Industry and The Game Assembly, neither student 
                nor company may be in contact with one another regarding internships before April 23rd. 
                <br>
                Any internship offers can be made on May 6th, at the earliest.
            </i>
        </p>
    </div>
</div>