<header class="top" [ngClass]="{ 'is-visible' : myShouldMinimize }">
<!-- <header class="top"> -->
    <!-- <div class="is-hidden"> -->
    <div>
        <a class="logo" routerLink="">Devia Windhede</a>
        <nav class="navbar">
            <button 
                class="navbar__toggle"
                [ngClass]="{ 'is-active' : myShouldShowMobileOverlay }"
                aria-label="Menu"
                aria-haspopup="false"
                aria-expanded="false"
                (click)="toggleMobileNavbar()"
                #showMobileNavbarButton
            >
            <span class="navbar__toggle-box">
                <span class="navbar__toggle-inner">Menu</span>
            </span>
            </button>
            <ul class="navbar__menu">
                <li *ngFor="let data of links"><a routerLink="{{data.link}}" [fragment]="data.fragment" target="_self">{{data.name}}</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="navbar_mobile_sidebar__overlay" [ngClass]="{ 'is-hidden' : !myShouldShowMobileOverlay }"></div>
<div class="navbar_mobile_sidebar" [ngClass]="{ 'is-hidden' : !myShouldShowMobileOverlay }" #mobileNavbar>
    <ul class="navbar__menu">
        <li class="navbar-item" *ngFor="let data of links"><a routerLink="{{data.link}}" (click)="toggleMobileNavbar()" [fragment]="data.fragment" target="_self">{{data.name}}</a></li>
    </ul>
</div>