<header class="header" [ngClass]="{ 'is-visible' : !myShouldMinimize, 'is-hidden' : myShouldMinimize }" id="js-header">
    <a class="logo" routerLink="">Devia Windhede</a>
    <nav class="navbar js-navbar">
        <button 
            class="navbar__toggle js-toggle" 
            aria-label="Menu"
            (click)="toggleMobileNavbar()"
        >
            <span class="navbar__toggle-box">
                <span class="navbar__toggle-inner">Menu</span>
            </span>
        </button>
        <ul class="navbar__menu">
            <li *ngFor="let data of links"><a routerLink="{{data.link}}" [fragment]="data.fragment" target="_self">{{data.name}}</a></li>
        </ul>
    </nav>
</header>

<div 
    class="navbar_mobile_sidebar__overlay" 
    [ngClass]="{ 'is-hidden' : myShouldHideMobileOverlay }"
    (click)="toggleMobileNavbar()"
></div>
<div class="navbar_mobile_sidebar" [ngClass]="{ 'is-hidden' : myShouldHideMobileOverlay }">
    <ul class="navbar__menu">
        <li>
            <a class="mobile-nav" routerLink="">Home</a>
        </li>
        <li 
            *ngFor="let data of links"
            class="navbar-item"
            (click)="toggleMobileNavbar()"
        >
            <a class="mobile-nav" routerLink="{{data.link}}" [fragment]="data.fragment" target="_self">{{data.name}}</a>
        </li>
    </ul>
</div>

<div class="header-padding">

</div>
<!-- <li class="has-submenu">
    <span class="is-separator" aria-haspopup="true">Pages</span>
    <ul class="navbar__submenu level-2" aria-hidden="true">
        <li>
            <a href="https://demo.getpublii.eu/themes/taste/chicken-with-balsamic-vinegar-and-garlic/" target="_self">Single post</a>
        </li>
        <li>
            <a href="https://demo.getpublii.eu/themes/taste/tags/food/" target="_self">Tag page</a>
        </li>
        <li>
            <a href="https://demo.getpublii.eu/themes/taste/tags/" target="_self">Tags page</a>
        </li>
        <li>
            <a href="https://demo.getpublii.eu/themes/taste/authors/judy-r-roark/" target="_self">Author page</a>
        </li>
    </ul>
</li> -->
