<footer class="footer">
    <div class="footer__copyright">
        <p>Footer text</p>
    </div>
    <div class="footer__social">
        <a href="https://www.linkedin.com/in/devia-windhede/" aria-label="LinkedIn" class="linkedin">
            <svg><use xlink:href="/assets/svg/svg-map.svg#linkedin"/></svg>
        </a>
    </div>
    <button (click)="backToTopFunction()" [ngClass]="backToTopClass" class="footer__bttop" aria-label="Back to top" title="Back to top">
        <svg><use xlink:href="/assets/svg/svg-map.svg#toparrow"/></svg>
    </button>
</footer> 
  