<footer class="footer">
    <button (click)="backToTopFunction()" [ngClass]="backToTopClass" class="footer__bttop" aria-label="Back to top" title="Back to top">
        <svg><use xlink:href="/assets/svg/svg-map.svg#toparrow"/></svg>
    </button>
    <div class="footer__social">
        <div class="footer__copyright">
            <i>
                I am part of The Game Assembly's internship program.
                As per the agreement between the Game Industry and The Game Assembly, neither student 
                nor company may be in contact with one another regarding internships before April 23rd. 
                <br>
                Any internship offers can be made on May 6th, at the earliest.
            </i>
        </div>
        <a href="https://www.linkedin.com/in/devia-windhede/" aria-label="LinkedIn">
            <svg><use xlink:href="/assets/svg/svg-map.svg#linkedin"/></svg>
        </a>
        <a href="https://github.com/DeviaWindhede/" aria-label="GitHub">
            <svg><use xlink:href="/assets/svg/svg-map.svg#git"/></svg>
        </a>
        <a href="mailto:devia.windhede@gmail.com" aria-label="E-Mail">
            <svg><use xlink:href="/assets/svg/svg-map.svg#gmail"/></svg>
        </a>
        <a href="tel:(+46)709422659" aria-label="Phone Number">
            <svg><use xlink:href="/assets/svg/svg-map.svg#phone"/></svg>
        </a>
        
        <a href="/assets/CV.pdf" aria-label="CV">
            <svg><use xlink:href="/assets/svg/svg-map.svg#cv"/></svg>
        </a>
    </div>
    <div class="footer__copyright">
        <p class="footer--offset">
            <a href="mailto:devia.windhede@gmail.com" aria-label="E-Mail">{{'devia.windhede@gmail.com' }}</a> | <a href="tel:(+46)709422659" aria-label="Phone Number">{{'(+46)709422659'}}</a>
        </p>
    </div>
</footer> 
  