<article class="c-card">
    <figure class="c-card__image">
        <a routerLink="/vertex-painter">
        <!-- <a href="/slothomancer.html"> -->
        <img
            src="/assets/img/posts/8/place-holde.png"
            srcset="
            /assets/img/posts/8/responsive/place-holde-xs.png 300w,
            /assets/img/posts/8/responsive/place-holde-sm.png 480w,
            /assets/img/posts/8/responsive/place-holde-sm2.png 375w"
            sizes="(min-width: 75em) 25vw, (min-width: 56.25em) 33vw, (min-width: 37.5em) 50vw, 100vw"
            height="720"
            width="960"
            alt="">
        </a>
    </figure>
    <header class="c-card__header">
        <h2>
            <a routerLink="/vertex-painter">Slothomancer</a>
        </h2>
    </header>
</article>
