
<article class="post wrapper">
    <div class="hero hero--full">
        <header>
            <h1>TGA Projects</h1>
            <p>Some descriptor</p>
        </header>
        <figure class="hero__image post__featured-image">
            <img
                src="/assets/img/preview/game-projects/placeholder.gif"
                loading="eager"
                width="960"
                height="720"
                alt=""
            >
        </figure>
    </div>

    <div class="post__entry">
        <h2>Game Projects</h2>
        <div *ngFor="let data of gameProjectData; let i = index">
            <div 
                class="common-grid"
                [ngClass]="{ 'common-grid--separator' : i > 0 }"
            >
                <div class="common-grid--text">
                    <h3>{{data.name}}</h3>
                    <div>
                        <b>Genre </b>{{data.genre}}
                        <br>
                        <b>Time Frame </b>{{data.time}} hours
                        <br>
                        <b>Team </b>{{data.team.programmers}} programmer, {{data.team.artists}} artists, {{data.team.designers}} designers
                        <br>
                        <b>Engine </b>{{data.engine}}
                    </div>
                </div>
                <div>
                    <h4 style="margin-top: 12px">Contributions</h4>
                    <ul>
                        <li *ngFor="let contribution of data.contributions">{{contribution}}</li>
                    </ul>
                    <div *ngIf="data.link !== undefined">
                        Available Here: <a href="{{data.link.destination}}" class="underline">{{data.link.preview}}</a>
                    </div>
                </div>
            </div>

            <iframe 
                *ngIf="data.safeYoutubeUrl"
                width="560"
                height="315"
                [src]="data.safeYoutubeUrl"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
            ></iframe>
            

            <ng-container [ngSwitch]="data.imagePaths.length == 1 ? 1 : -1">
                <ng-container *ngSwitchCase="1">
                    <img
                        src="{{'/assets/img/posts/game-projects/' + data.imagePaths[0] }}"
                        loading="eager"
                        width="720"
                        height="540"
                        alt=""
                        class="center-image">
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <div class="common-grid">
                        <img
                            *ngFor="let path of data.imagePaths"
                            src="{{'/assets/img/posts/game-projects/' + path }}"
                            loading="eager"
                            width="720"
                            height="540"
                            alt=""
                            class="center-image">
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <app-back-to-top-btn></app-back-to-top-btn>
</article>
