iframe {
    margin: 1rem auto;
    display: block;
}

.center-image {
    display: block;
    margin: auto;
}

.common-grid--text > * {
    margin-top: 12px;
}

.common-grid--separator {
    margin-top: 2rem;
}

hr {
    margin-top: calc(2rem + 1vw);
    margin-bottom: calc(2rem + 1vw);
}