<article class="post wrapper">
    <div class="hero hero--full">
        <header>
            <h1>sHitbox</h1>
        </header>
        <figure class="hero__image post__featured-image">
            <img
                src="/assets/img/preview/shitbox/preview.png"
                srcset="
                /assets/img/preview/shitbox/responsive/preview-xs.png 300w,
                /assets/img/preview/shitbox/responsive/preview-sm.png 480w,
                /assets/img/preview/shitbox/responsive/preview-md.png 768w,
                /assets/img/preview/shitbox/responsive/preview-lg.png 1024w,
                /assets/img/preview/shitbox/responsive/preview-xl.png 1360w,
                /assets/img/preview/shitbox/responsive/preview-2xl.png 1600w"
                sizes="100vw"
                loading="eager"
                width="960"
                height="720"
                alt=""
            >
        </figure>
    </div>

    <div class="post__entry">
        <h3>Summary</h3>
        <p>
            a hitbox controller made in cardboard using the <a href="https://gp2040-ce.info/">GP2040-CE</a> mapping software 
            mounted to a Raspberry Pi Pico
        </p>
        
        <hr>

        <h3>build</h3>

        <img
            src="/assets/img/posts/shitbox/layout.jpg"
            sizes="(min-width: 75em) 25vw, (min-width: 56.25em) 33vw, (min-width: 37.5em) 50vw, 100vw"
            height="784"
            width="720"
            alt="">

        <img
            src="/assets/img/posts/shitbox/board-soldering.jpg"
            sizes="(min-width: 75em) 25vw, (min-width: 56.25em) 33vw, (min-width: 37.5em) 50vw, 100vw"
            height="1015"
            width="960"
            alt="">

        <img
            src="/assets/img/posts/shitbox/switch-soldering.jpg"
            sizes="(min-width: 75em) 25vw, (min-width: 56.25em) 33vw, (min-width: 37.5em) 50vw, 100vw"
            height="560"
            width="960"
            alt="">

        <img
            src="/assets/img/posts/shitbox/wiring.jpg"
            sizes="(min-width: 75em) 25vw, (min-width: 56.25em) 33vw, (min-width: 37.5em) 50vw, 100vw"
            height="620"
            width="960"
            alt="">

        <img
            src="/assets/img/posts/shitbox/final.jpg"
            sizes="(min-width: 75em) 25vw, (min-width: 56.25em) 33vw, (min-width: 37.5em) 50vw, 100vw"
            height="571"
            width="960"
            alt="">
    </div>
    <app-back-to-top-btn></app-back-to-top-btn>
</article>
