<main class="page page--error">
    <div class="hero hero--full">
        <header>
            <h1>404</h1>
            <p>Uh oh!!!! Something went wrong! D:</p>
        </header>
    </div>
    <div class="wrapper post__entry">
        <p>The page you were looking for appears to have been moved, deleted or does not exist. You could go back to where you were or head straight to our home page.</p>
        <p>
            <a routerLink="/dashboard" target="_self" class="btn btn--outline">Go home</a>
        </p>
    </div>
</main>
