$palette-0: #030637;
$palette-1: #3C0753;
$palette-2: #720455;
$palette-3: #910a67;

$page-margin: 2vw;
$page-width:64rem;
$entry-width:86ch;
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$heading-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$logo-font:$body-font;
$menu-font:$body-font;
$font-weight-normal:400;
$font-weight-bold:700;
$headings-weight:700;
$headings-transform:none;
$line-height:1.6;
$hero-bg:#111111;
$header-height:4.5rem;
$hero-min-height:20rem;
$hero-max-height:20rem;
$hero-opacity:0.6;
$grid-gap:0.75rem;
$card-height:20rem;
$card-opacity:0.75;
$card-accent-opacity:0.5;
$border-radius:3px;
$white:#FFFFFF;
$black:#000000;
$dark:#111111;
$body-bg-color:#111111;
$gray-1:#6C6C6F;
$gray-2:#747577;
$light:#D5D5D5;
$lighter:#F3F3F3;
$color:#6672AB;
$color-r:102;
$color-g:114;
$color-b:171;
$color-rgba:rgba($color-r, $color-g, $color-b);
$code-bg-color: #000000;
$code-text-color: #FFFFFF;
$text-color:#FFFFFF;
$headings-color:#FFFFFF;
$link-color:#e244b0;
$link-color-hover: #f595d6;
$embed-aspect-ratio: 0%;
$pre-bg-color: #000000;

$min-hero-section-height: 5rem;
$max-hero-section-height: 20rem;

