<div>
    <h2>About</h2>
    <p>
        Hi!! I'm Devia and I'm a student from The Game Assembly who is seeking an internship starting August 2024! 
        I began my coding adventures at the age of 12, where I learned to program by creating Minecraft mods. 
        As I time passed I started to create some projects from scratch, be it games, websites or utility software. 
        I quickly realized that my passion for programming lies in creating something that makes me say something along the lines of "omg thats so cool!!!". 
        This consists of anything ranging from making things simply pop up on screen, move or just creating something that is useful for others!
    </p>
    <p>
        During my time at The Game Assembly, creating a game engine has been one of the most exciting things I have worked on. 
        Especially interacting with GPU via dx3d11 and setting up its foundation and surrounding structures. VAD SKA MAN SÄGA MER??? ÄR DET ENS VÄRT ATT TA UPP DETTA D:
    </p>
</div>