<div>
    <h2>About</h2>
    <div class="common-grid">
        <div class="top-element">
            <div class="image-container">
                <img
                    src="/assets/img/website/chibi.png"
                    loading="eager"
                    width="125"
                    height="240"
                    alt="">
                <div class="image-descriptor">
                    <i class="image-descriptor--first">Image by <a href="https://www.nannalundin.com/">Nanna Lundin</a></i>
                    <a href="/assets/CV.pdf" aria-label="CV"><button>Download CV</button></a>
                </div>
            </div>
        </div>
        <div>
            <p>
                Hi!! I'm Devia and I'm a student from The Game Assembly who is seeking an internship starting August 2024! 
                I began my coding adventures at the age of 12, where I learned to program by creating Minecraft mods. 
                As time passed I started to create some personal projects from scratch, be it games, websites or utility software. 
            </p>
            <p>
                Prior to studying at TGA I worked as a front-end developer, but since my passion lies in game development I enrolling at TGA 
                and it has been nothing short of amazing! I've learnt and grown so much in such a short period of time, 
                and I am really grateful for all the opportunities that I have been given
            </p>
            <p>
                As a colleague I am enthusiastic, like to help others, analytical and easily excitable as I get psyched from the smallest of things. 
                I like to communicate both within the local team and cross-disciplinary to make sure everything works and is correct. 
                I'm easily excitable and get psyched from the smallest of things, be it anything ranging from art or code snippets to concepts in general!
            </p>
        </div>
    </div>
</div>