<article class="c-card">
    <figure class="c-card__image">
        <a routerLink={{cardData.routerLink}}>
        <!-- <a href="/slothomancer.html"> -->
        <img
            src={{imgSrc}}
            srcset={{imgSrcSet}}
            sizes="{{cardData.isGif ? '' : '(min-width: 75em) 25vw, (min-width: 56.25em) 33vw, (min-width: 37.5em) 50vw, 100vw'}}"
            height="720"
            width="960"
            alt=""
            loading="eager">
        </a>
    </figure>
    <header class="c-card__header">
        <h2>
            <a routerLink={{cardData.routerLink}}>{{cardData.name}}</a>
        </h2>
    </header>
</article>
