<div class="container">
  <header class="top" id="js-top">
    <div>
      <a class="logo" href="index.html">Devia Windhede</a>
      <nav class="navbar">
        <button class="navbar__toggle" aria-label="Menu" aria-haspopup="true" aria-expanded="false">
          <span class="navbar__toggle-box">
            <span class="navbar__toggle-inner">Menu</span>
          </span>
        </button>
        <ul class="navbar__menu">
          <li><a href="/about.html" target="_self">About</a></li>
          <li><a href="/slothomancer.html" target="_self">Test</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="hero hero--full">
      <header>
        <p>My blog stories</p>
        <h1>The Tattoo blog</h1>
        <address>by <a href="/authors/devia/index.html">Devia Windhede</a></address>
        refreshed
        <time datetime="2024-03-05T10:31">5 March 2024</time>
      </header>
      <figure class="hero__image">
        <img
          src="/assets/img/website/place-holde.png"
          srcset="
          /assets/img/website/responsive/place-holde-xs.png 300w,
          /assets/img/website/responsive/place-holde-sm.png 480w,
          /assets/img/website/responsive/place-holde-md.png 768w,
          /assets/img/website/responsive/place-holde-lg.png 1024w,
          /assets/img/website/responsive/place-holde-xl.png 1360w,
          /assets/img/website/responsive/place-holde-2xl.png 1600w"
          sizes="100vw"
          loading="eager"
          width="960"
          height="720"
          alt="">
      </figure>
    </div>
    <div class="l-grid l-grid--1">
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </main>
</div>

<footer class="footer">
  <div class="footer__copyright">
    <p>Powered by Publii</p>
  </div>
  <div class="footer__social">
    <a href="https://www.linkedin.com/in/devia-windhede/" aria-label="LinkedIn" class="linkedin">
      <svg><use xlink:href="/assets/svg/svg-map.svg#linkedin"/></svg>
    </a>
  </div>
  <button onclick="backToTopFunction()" id="backToTop" class="footer__bttop" aria-label="Back to top" title="Back to top">
          <svg><use xlink:href="/assets/svg/svg-map.svg#toparrow"/></svg>
  </button>
</footer> 
<router-outlet />
