<article class="post wrapper">
    <div class="hero hero--full">
        <header>
            <h1>Signature ECS with optimizations using CRTP</h1>
        </header>
        <figure class="hero__image post__featured-image">
            <img
                src="/assets/img/preview/ecs/preview.png"
                srcset="
                /assets/img/preview/ecs/responsive/preview-xs.png 300w,
                /assets/img/preview/ecs/responsive/preview-sm.png 480w,
                /assets/img/preview/ecs/responsive/preview-md.png 768w,
                /assets/img/preview/ecs/responsive/preview-lg.png 1024w,
                /assets/img/preview/ecs/responsive/preview-xl.png 1360w,
                /assets/img/preview/ecs/responsive/preview-2xl.png 1600w"
                sizes="100vw"
                loading="eager"
                width="960"
                height="720"
                alt=""
            >
        </figure>
    </div>

    <div class="post__entry">
        <h3>Summary</h3>
        <p>
            An Entity Component System implementation that utilizes signatures.
            Addtionally, this implementation use static polymorphism for indexing and
            constant look up time and assignment within all component related containers.
        </p>
        
        <hr>

        <h3>Why ECS?</h3>
        <p> 
            When writing a game engine, using some type of component system is a common approach for modular development.
            However since these components need to be stored somewhere, it can result in unaligned memory which can significantly slow
            down the performance of the application due to system cache. Addtionally, inheritance can become a huge issue as the
            scale of the project increases with time.
            Using an Entity-Component-System is an approach to solve this problem.
            <br><br>
            An ECS uses a data driven style of development and has all components aligned in memory, similar to the object pool pattern.
            One of the side effects to this approach is accessing and manipulating blocks of memory becomes VERY easy.
            And as a person who specializes in core engine and graphics programming, this was the primary reason to me pushing for using
            this when developing our custom engine for our studies at The Game Assembly.
            <br><br>
            In this post, I will go through the steps I took during the development of our game engines ECS implementation.
            It is not perfect and does have room for improvement, but it can still maybe be an interesting read.
        </p>

        <h3>Implementation</h3>
        <p>
            Using an ECS would encompass creating and modifying data containers (components), systems utilizing subsets of these containers and entity registration. 
            The <code>EntityManager</code>, <code>ComponentManager</code> and <code>SystemManager</code> classes are created for these purposes. These objects  
            encapsulate and handle their data and memory allocation by themselves. Additionally, to make the utilization of these objects more straight-forward during implementation, 
            the <code>World</code> facade object is created.
        </p>
        <br>
        <img
            src="/assets/img/posts/ecs/uml.png"
            sizes="(min-width: 75em) 25vw, (min-width: 56.25em) 33vw, (min-width: 37.5em) 50vw, 100vw"
            height="720"
            width="960"
            alt="">

        <h4>EntityManager</h4>
        <p>
            EntityManager text
        </p>
        <div class="code-block">
            <ngx-gist [gistId]="'5aaa69ef630619b2d96e17bf04a01c38'"></ngx-gist>
        </div>

        <h4>ComponentManager</h4>
        <p>
            ComponentManager text
        </p>
        <div class="code-block">
            <ngx-gist [gistId]="'f5809add39018ab7cf141e1726d13837'"></ngx-gist>
        </div>

        <h4>SystemManager</h4>
        <p>
            SystemManager text
        </p>
        <div class="code-block">
            <ngx-gist [gistId]="'a496beaa541c9fe51610adc56595d76e'"></ngx-gist>
        </div>

        <h4>Performance issues :c</h4>
        <p>
            When initially implementing the ECS, getting a working look-up table is really important.
            So the most obvious way of doing this is by using the <code>std::unordered_map</code> container.
            However since the systems will perform <b>A LOT</b> of <code>GetComponent</code> calls, the performance losses
            from using a map really starts to add up. It also only gets worse with each additional component in the ECS.
        </p>
        <h4>Solution!</h4>
        <p>
            Using the Curiously recurring template pattern (CRTP) you are able to use static polymorphism, and
            so by storing the component container index in the component itself instead, you are able to get 
            the index directly from the templated variable without knowning the type. Therefore bypassing the need for 
            a look up table for Component->ComponentContainer
        </p>
        <div class="code-block">
            <ngx-gist [gistId]="'3c83a84fb04b4757cf4b986fa6f3576b'"></ngx-gist>
        </div>
        <p>
            You may notice at all container poiner locations can also be block allocated, which 
            it is not at the moment. So a potential improvement for this would be to pool allocate the containers.
        </p>
        <h3>Conclusion</h3>
        <p>
            This is the ECS that is being used in the custom game engine we made at The Game Assembly, 
            and it has worked really well! I really do recommend implementing an ECS if you haven't already! 
            The source code for our implementation will be linked at a later date on this page. 
        </p>
    </div>
    <app-back-to-top-btn></app-back-to-top-btn>
</article>
