<article class="post wrapper">
    <div class="hero hero--full">
        <header>
            <h1>Signature ECS with optimizations using CRTP</h1>
        </header>
        <figure class="hero__image post__featured-image">
            <img
                src="/assets/img/preview/ecs/preview.png"
                srcset="
                /assets/img/preview/ecs/responsive/preview-xs.png 300w,
                /assets/img/preview/ecs/responsive/preview-sm.png 480w,
                /assets/img/preview/ecs/responsive/preview-md.png 768w,
                /assets/img/preview/ecs/responsive/preview-lg.png 1024w,
                /assets/img/preview/ecs/responsive/preview-xl.png 1360w,
                /assets/img/preview/ecs/responsive/preview-2xl.png 1600w"
                sizes="100vw"
                loading="eager"
                width="960"
                height="720"
                alt=""
            >
        </figure>
    </div>

    <div class="post__entry">
        <h3>Summary</h3>
        <p>
            An Entity Component System implementation that utilizes signatures for entity asignment filtering in systems. 
            This implementation uses templates to make the development process easier, where everything "just works" when getting 
            and assigning component types. It also uses static polymorphism for indexing, constant look up time and assignment 
            within all component related containers to improve performance.
        </p>
        
        <hr>

        <h3>Why ECS?</h3>
        <p> 
            When writing a game engine, using some type of component system is a common approach for modular development.
            However since these components need to be stored somewhere, it can result in unaligned memory which can significantly slow
            down the performance of the application due to system cache. Inheritance can become a huge issue as the
            scale of the project increases with time. Using an Entity-Component-System can solve these issues.
        </p>

        <p>
            An ECS uses a data driven style of development and has all components aligned in memory, similar to the object pool pattern.
            One of the major perks to this approach is that accessing and manipulating large blocks of memory can become very easy.
            As a person who specializes in engine and graphics programming, this was the primary reason for me pushing for using
            this when developing our custom engine during our studies at The Game Assembly.
        </p>
        <p>
            In this post, I will go through the steps taken during the development of our game engine's ECS implementation.
            It does have room for improvement, however it is a solid foundation and implementing any optimization to the ECS would not alter any interface.
        </p>

        <h3>Implementation</h3>
        <p>
            Using an ECS would encompass creating and modifying data containers (components), systems utilizing subsets of these containers and entity registration. 
            The <code>EntityManager</code>, <code>ComponentManager</code> and <code>SystemManager</code> classes are created for these purposes. These objects  
            encapsulate and handle their data and memory allocation by themselves. Additionally, to make the utilization of these objects more straight-forward during development, 
            the <code>World</code> facade object is created.
        </p>
        <br>
        <img
            src="/assets/img/posts/ecs/uml.png"
            sizes="(min-width: 75em) 25vw, (min-width: 56.25em) 33vw, (min-width: 37.5em) 50vw, 100vw"
            height="720"
            width="960"
            alt="">

        <h4>EntityManager</h4>
        <p>
            The EntityManager is a glorified FIFO-queue, where an entity is claimed and returned using the Create and Destroy methods. 
        </p>
        <div class="code-block">
            <ngx-gist [gistId]="'5aaa69ef630619b2d96e17bf04a01c38'"></ngx-gist>
        </div>

        <h4>ComponentManager</h4>
        <p>
            A <code>std::vector</code> is currently only used for convenience since a custom allocator is not implemented at the moment of creating this system. 
            The container initialization process lies within the component registration, but it will be pool allocated in the future. 
            Additionally, myComponentContainers will only include pointer offsets to a base memory location of the aforementioned block allocation to enhance cache utilization. 
        </p>
        <div class="code-block">
            <ngx-gist [gistId]="'f5809add39018ab7cf141e1726d13837'"></ngx-gist>
        </div>

        <h4>SystemManager</h4>
        <p>
            Similar to the ComponentManager, a dynamic container is used for convenience and is something that will be changed in the future. 
            The params available when Registering a system is used for custom constructors, allowing the developers to use whatever information the desire.
        </p>
        <div class="code-block">
            <ngx-gist [gistId]="'a496beaa541c9fe51610adc56595d76e'"></ngx-gist>
        </div>

        <h4>Performance issues :c</h4>
        <p>
            When initially implementing the ECS, getting a working look-up table is really important.
            The naive solution to this problem is using the <code>std::unordered_map</code> container.
            However since the systems will most likely perform <b>A LOT</b> of <code>GetComponent</code> calls, the performance losses
            from using an unordered map will really start to add up. 
            This something that also only gets worse with each additional component registered in the ECS.
        </p>
        <h4>Solution!</h4>
        <p>
            Using the Curiously recurring template pattern (CRTP) you are able to use static polymorphism, and
            so by storing the component container index "within" the component type itself, you are able to get 
            the index directly from the templated variable without knowning the type. 
            Therefore bypassing the need for a separate look up table used for getting each component container.
        </p>
        <div class="code-block">
            <ngx-gist [gistId]="'3c83a84fb04b4757cf4b986fa6f3576b'"></ngx-gist>
        </div>
        <p>
            You may notice at all containers are not placement allocated. 
            As previously stated, it is due to no custom allocator being implemented at the moment and all containers will be pool allocated at a later date.
        </p>
        <h3>Conclusion</h3>
        <p>
            This is the ECS that has been used in the custom game engine we are developing at The Game Assembly, and it has worked really well! 
            It is quite RAM hungry if unproperly set up, but if the developers specify the desired component container size during component registration 
            it should be accounted for. 
            I really do recommend implementing an ECS if you haven't already! 
            Especially since a data driven development process is a super useful and powerful tool.   
            The source code for this implementation will be linked at a later date on this page! 
        </p>
    </div>
    <app-back-to-top-btn></app-back-to-top-btn>
</article>
