@import "vars";

.scroll-object
{
  scroll-margin: $header-height;
}

.video-container {
    height:  30rem;
    min-height: 30rem;
}

.hero--full {
  background-color: $darker;
  min-height: 15rem;
}

.heading-padding {
  margin-bottom: 2rem;
}

.l-grid {
  display:grid;
  grid-gap:$grid-gap;
  margin:0;
  
  &--first-element {
    grid-template-columns: repeat(1, 1fr) !important;
    margin-bottom: 0.75rem;
    vertical-align: middle;
  }
}

@media all and (min-width:37.5em) {
  .l-grid {
    grid-template-columns:repeat(2,1fr)
  }
}
@media all and (min-width:56.25em){
  .l-grid {
    grid-template-columns:repeat(3,1fr)
  }
}

@media all and (min-width:75em) {
  .l-grid{
    grid-template-columns:repeat(3,1fr)
  }
}

@media all and (min-width:75em){
  .l-grid .c-card:nth-child(5n) {
    grid-column:span 2
  }

  .l-grid .c-card:nth-child(5n) h2 {
    font-size:2.1694252211rem
  }
}

.l-grid .c-card:nth-child(8n-6) .c-card__image>a:after {
  background:$color;
  opacity:$card-accent-opacity
}
