
<div class="hero hero--full">
    <header>
        <h1>Graphics and Core Engine programmer</h1>
    <!-- <address>by <a href="/authors/devia/index.html">Devia Windhede</a></address> -->
    <!-- <time datetime="2024-03-05T10:31">5 March 2024</time> -->
    </header>
    <figure class="hero__image">
        <img
            src="/assets/img/website/place-holde.png"
            srcset="
            /assets/img/website/responsive/place-holde-xs.png 300w,
            /assets/img/website/responsive/place-holde-sm.png 480w,
            /assets/img/website/responsive/place-holde-md.png 768w,
            /assets/img/website/responsive/place-holde-lg.png 1024w,
            /assets/img/website/responsive/place-holde-xl.png 1360w,
            /assets/img/website/responsive/place-holde-2xl.png 1600w"
            sizes="100vw"
            loading="eager"
            width="960"
            height="720"
            alt="">
    </figure>
</div>

<div id="projects" class="scroll-object">
    <h2>Personal Projects</h2>
    <div class="l-grid l-grid--2 first-element">
        <app-card [cardData]="cardData[0]"></app-card>
    </div>
    <div class="l-grid l-grid--2">
        <app-card *ngFor="let card of cardData | slice: 1" [cardData]="card"></app-card>
    </div>
</div>

<div class="hero hero--full hero--section">
    <header>
        <a routerLink="/group-projects">
            <div>
                <h1>Group Projects</h1>
                <button>Read more</button>
            </div>
        </a>
    </header>
    <figure class="hero__image hero__image--section">
        <img
            src="/assets/img/preview/game-projects/placeholder.gif"
            loading="eager"
            width="960"
            height="720"
            alt="">
    </figure>
</div>

<div id="contact" class="scroll-object">
    <app-contact></app-contact>
</div>

<div id="about" class="scroll-object">
    <app-about></app-about>
</div>
