
<div class="hero hero--full">
    <header>
    <p>My blog stories</p>
    <h1>The Tattoo blog</h1>
    <address>by <a href="/authors/devia/index.html">Devia Windhede</a></address>
    refreshed
    <time datetime="2024-03-05T10:31">5 March 2024</time>
    </header>
    <figure class="hero__image">
        <img
            src="/assets/img/website/place-holde.png"
            srcset="
            /assets/img/website/responsive/place-holde-xs.png 300w,
            /assets/img/website/responsive/place-holde-sm.png 480w,
            /assets/img/website/responsive/place-holde-md.png 768w,
            /assets/img/website/responsive/place-holde-lg.png 1024w,
            /assets/img/website/responsive/place-holde-xl.png 1360w,
            /assets/img/website/responsive/place-holde-2xl.png 1600w"
            sizes="100vw"
            loading="eager"
            width="960"
            height="720"
            alt="">
    </figure>
</div>
<div class="l-grid l-grid--2">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
</div>
