
<div class="hero hero--full">
    <header>
        <h1>Specialize in Graphics and System implementation</h1>
    <p>My blog stories</p>
    <!-- <address>by <a href="/authors/devia/index.html">Devia Windhede</a></address> -->
    <!-- <time datetime="2024-03-05T10:31">5 March 2024</time> -->
    </header>
    <figure class="hero__image">
        <img
            src="/assets/img/website/place-holde.png"
            srcset="
            /assets/img/website/responsive/place-holde-xs.png 300w,
            /assets/img/website/responsive/place-holde-sm.png 480w,
            /assets/img/website/responsive/place-holde-md.png 768w,
            /assets/img/website/responsive/place-holde-lg.png 1024w,
            /assets/img/website/responsive/place-holde-xl.png 1360w,
            /assets/img/website/responsive/place-holde-2xl.png 1600w"
            sizes="100vw"
            loading="eager"
            width="960"
            height="720"
            alt="">
    </figure>
</div>
<div class="l-grid l-grid--2 first-element">
    <app-card [cardData]="cardData[0]"></app-card>
</div>
<div class="l-grid l-grid--2">
    <app-card *ngFor="let card of cardData | slice: 1" [cardData]="card"></app-card>
</div>
