@import "main";

$min-hero-section-height: 5rem;
$max-hero-section-height: 20rem;

.first-element {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 0.75rem;
    vertical-align: middle;
}

.scroll-object
{
  scroll-margin: $header-height;
}

.hero {
  background: $hero-bg;
  margin-bottom: $grid-gap;
  min-height: $hero-min-height;
  position: relative;
  text-align: center;
  top: 0;
  z-index: 1;
  margin-top: calc(2.25rem + 0.5vw);

  &--full {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }

  &--section {
    margin-top: calc(2.25rem + 0.5vw);
    min-height: $min-hero-section-height;
  }

  &__image {
    margin: 0;
    position: relative;
  }
}

.hero:after {
  content: " ";
  display: block;
  clear: both;
}
@media all and (min-width: 56.25em) {
  .hero {
    margin-top: 12.75rem;

    &--section {
      margin-top: 5.0rem;
    }
  }
}
@media all and (min-width: 56.25em) {
  .hero--narrow {
    left: calc((100% - $page-width) / 2);
    width: $page-width;
  }
}
.hero > header {
  color: $white;
  max-width: $page-width;
  padding: 0 4%;
  text-align: center;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media all and (min-width: 56.25em) {
  .hero > header {
    max-width: calc($page-width + 8%);
  }
}
.hero > header * {
  color: $white;
}
.hero > header h1 {
  margin-top: 0.5rem;
}
.hero > header a:not(.page__desc a) {
  text-decoration: none;
}
.hero > header a:not(.page__desc a):hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
.hero__image::after {
  background: $hero-bg;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: $hero-opacity;
  position: absolute;
  top: 0;
  width: 100%;

  &--section {
    height: $max-hero-section-height;
  }
}
.hero__image > img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media all and (max-width: 56.1875em) {
  .hero__image > img {
    min-height: $hero-min-height;
  }

  .hero__image--section > img {
    min-height: $min-hero-section-height;
    height: 15rem;
  }
}
@media all and (min-width: 56.25em) {
  .hero__image > img {
    height: $hero-max-height;
  }
  .hero__image--section > img {
    height: $max-hero-section-height;
  }
}
.hero__image > figcaption {
  background: $dark;
  border-radius: $border-radius;
  bottom: 4%;
  color: $white;
  display: inline-table;
  padding: 0 0.5rem;
  position: absolute;
  right: $page-margin;
  text-align: left;
}
